In [ ]:
"ID","Name","Sex","Age","Height","Weight","Team","NOC","Games","Year","Season","City","Sport","Event","Medal"

In [13]:
import csv
import os
adresse = "/Users/azizseghaier/Desktop/Projets/ProjetTDD/donnees_jeux_olympiques/athlete_events.csv"

ses = ["2016 Summer", "2012 Summer"]
med = ["Gold"]



res_p = {i:dict() for i in ses}

with open(adresse, 'r', newline='') as csvfile:
    spamreader = csv.reader(csvfile)
    first = True
    for row in spamreader:
        if first:
            first = False
            continue
        if row[8] in ses and row[-1] in med and row[7] not in res_p[row[8]].keys():
            res_p[row[8]][row[7]] = 1
        elif row[8] in ses and row[-1] in med:
            res_p[row[8]][row[7]] += 1

res_min = {i:[] for i in ses}
res_max = {i:[] for i in ses}

for s in ses:
    for noc in res_p[s].keys():
        if len(res_min[s]) == 0:
            res_min[s] = [noc, res_p[s][noc]]
        elif res_p[s][noc] < res_min[s][1] or (res_p[s][noc] == res_min[s][1]
                                               and noc < res_min[s][0]):
            res_min[s] = [noc, res_p[s][noc]]
        if len(res_max[s]) == 0:
            res_max[s] = [noc, res_p[s][noc]]
        elif res_p[s][noc] > res_max[s][1] or (res_p[s][noc] == res_max[s][1]
                                               and noc < res_max[s][0]):
            res_max[s] = [noc, res_p[s][noc]]

res = []
for s in ses:
    res.append((tuple(res_min[s]), tuple(res_max[s])))

res

[(('ARM', 1), ('USA', 139)), (('ALG', 1), ('USA', 145))]

In [ ]:
import csv
import os
adresse = "/Users/azizseghaier/Desktop/Projets/ProjetTDD/donnees_jeux_olympiques/athlete_events.csv"

BDD = []
ID = "1"
n_doublon = set()
n_ligne = 2
header = True

with open(adresse, 'r', newline='') as csvfile:
    spamreader = csv.reader(csvfile)
    for row in spamreader:
        if header == True:
            header = False
            continue
        if row[0]!=ID:
            BDD=[row]
            ID = row[0]
            n_ligne += 1
            continue
        if row in BDD:
            n_doublon.add(n_ligne)
        else:
            BDD.append(row)
        n_ligne+=1

n_doublon

{705,
 2450,
 2778,
 2904,
 4320,
 5147,
 5624,
 5635,
 5936,
 6017,
 6438,
 6884,
 6930,
 7083,
 7177,
 7385,
 7405,
 7427,
 8010,
 8116,
 8318,
 8379,
 8548,
 8779,
 8782,
 8809,
 9018,
 9285,
 9566,
 9737,
 9802,
 9956,
 10221,
 10333,
 10822,
 11114,
 11126,
 11271,
 11664,
 11793,
 12116,
 12327,
 12381,
 12659,
 12946,
 12949,
 13436,
 13473,
 13645,
 13646,
 13726,
 13873,
 14084,
 15612,
 16185,
 16366,
 16538,
 16674,
 16858,
 16966,
 17072,
 17625,
 17910,
 17911,
 18253,
 18463,
 19829,
 19830,
 19875,
 21787,
 21832,
 22010,
 22201,
 22252,
 22538,
 22934,
 23236,
 23321,
 23364,
 23404,
 23667,
 23838,
 23923,
 23930,
 25564,
 25805,
 25842,
 25843,
 25960,
 26070,
 26093,
 26422,
 26432,
 26462,
 26670,
 27014,
 27195,
 27196,
 27423,
 27600,
 27973,
 28408,
 28502,
 28537,
 28994,
 29290,
 29443,
 29646,
 29662,
 29685,
 29898,
 30020,
 30473,
 30592,
 30712,
 30717,
 30728,
 30732,
 30767,
 30829,
 30879,
 31174,
 31291,
 31493,
 31694,
 32228,
 32417,
 32591,
 33032,
 33151,
 33230,
 33272,
 33565,
 33726,
 34093,
 34301,
 34643,
 35216,
 35687,
 35755,
 35820,
 35977,
 36156,
 36615,
 36760,
 37136,
 37186,
 37254,
 37545,
 37705,
 38106,
 38239,
 38744,
 39019,
 39138,
 39405,
 39440,
 39557,
 39660,
 39708,
 39738,
 39813,
 39830,
 40024,
 40356,
 40536,
 40680,
 40799,
 40974,
 41158,
 41176,
 42026,
 42095,
 42375,
 42486,
 42584,
 42829,
 43176,
 43282,
 43353,
 43767,
 44601,
 44779,
 44876,
 44939,
 44943,
 44997,
 45111,
 45603,
 45704,
 45725,
 45842,
 46257,
 46268,
 46339,
 46407,
 47035,
 47309,
 47556,
 47670,
 48226,
 48452,
 48486,
 48663,
 49030,
 49192,
 49203,
 49262,
 49293,
 49592,
 49867,
 50306,
 50362,
 50927,
 50955,
 51554,
 51774,
 52123,
 52512,
 52519,
 52627,
 52693,
 53241,
 53598,
 53926,
 54030,
 54935,
 55594,
 55620,
 55763,
 55993,
 56010,
 56668,
 56920,
 58190,
 59612,
 60521,
 60639,
 61070,
 61185,
 61482,
 61503,
 61655,
 61666,
 62027,
 62140,
 63227,
 63529,
 63670,
 63849,
 63954,
 64170,
 64241,
 64576,
 64998,
 65014,
 65225,
 65811,
 65871,
 65923,
 66148,
 66232,
 66289,
 66324,
 66330,
 66390,
 66926,
 67211,
 67213,
 67219,
 67220,
 67471,
 67493,
 67526,
 67709,
 67719,
 68347,
 68487,
 68744,
 68923,
 69039,
 69671,
 69730,
 70271,
 70375,
 70425,
 70525,
 70940,
 70981,
 71579,
 72139,
 72354,
 72474,
 72911,
 73017,
 73091,
 73124,
 73274,
 73391,
 73483,
 73996,
 74032,
 74189,
 74315,
 74316,
 74533,
 74575,
 74724,
 74764,
 74765,
 74908,
 75477,
 75649,
 76105,
 76152,
 76186,
 77004,
 77131,
 77305,
 77711,
 77927,
 78420,
 78954,
 79056,
 79305,
 79413,
 79933,
 80806,
 81024,
 81305,
 81385,
 81394,
 81509,
 81703,
 81899,
 81995,
 82363,
 82383,
 83067,
 83249,
 83313,
 83382,
 83610,
 85116,
 85177,
 85341,
 85937,
 86141,
 86181,
 86573,
 86678,
 87406,
 87433,
 87817,
 87987,
 89277,
 89515,
 89754,
 89814,
 90024,
 90330,
 90569,
 92210,
 92408,
 92514,
 93562,
 94290,
 94351,
 94616,
 94889,
 94980,
 95329,
 95369,
 95380,
 95405,
 95694,
 96103,
 96500,
 96535,
 96735,
 97316,
 97323,
 97578,
 97610,
 97654,
 97914,
 99232,
 100192,
 100257,
 100444,
 100576,
 101060,
 101175,
 101273,
 101294,
 101443,
 101939,
 101941,
 102795,
 103003,
 103323,
 103478,
 103501,
 103940,
 104411,
 104769,
 105339,
 106086,
 106504,
 106594,
 106673,
 106879,
 107393,
 107434,
 107676,
 107709,
 107894,
 107936,
 108092,
 108149,
 108260,
 108452,
 108546,
 109051,
 109604,
 109985,
 110089,
 110284,
 110578,
 110876,
 111496,
 111624,
 111702,
 111730,
 111945,
 112006,
 112285,
 112703,
 113503,
 113719,
 113972,
 114000,
 114012,
 114261,
 114410,
 114896,
 114897,
 115104,
 115608,
 116051,
 116440,
 116682,
 116987,
 117066,
 118253,
 119070,
 119446,
 119449,
 119450,
 119562,
 119651,
 120032,
 121147,
 121458,
 122034,
 122726,
 122986,
 123053,
 123237,
 123683,
 124234,
 124260,
 124374,
 124376,
 124537,
 124924,
 125783,
 125871,
 125919,
 126144,
 126230,
 126255,
 126451,
 126668,
 126842,
 126856,
 127303,
 127345,
 127411,
 127419,
 127870,
 128217,
 128394,
 128753,
 128965,
 129159,
 129520,
 129733,
 129776,
 129833,
 129940,
 130315,
 130488,
 130760,
 130771,
 131387,
 132289,
 132946,
 133193,
 133227,
 133750,
 134047,
 135073,
 135074,
 135174}

In [32]:
import csv
import os
import pandas as pd
adresse = "/Users/azizseghaier/Desktop/Projets/ProjetTDD/donnees_jeux_olympiques/athlete_events.csv"

BDD_EVENTS = pd.read_csv(adresse)
BDD_EVENTS.drop_duplicates()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN